#div1{
    position: absolute;
    top: 20%;
    margin-left: 14%;
    background-color: black;
}
#div{
    background-color: black;
    color: azure;
}
section {
    display: flex;
    width: 1300px;
    height: 700px;
}
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}
#foto3 {
    position: fixed;
    top: 13.5%;
    width: 10%;
    margin-left: 0%;
}

#foto4 {
    position: fixed;
    top: 13.5%;
    width: 10%;
    margin-left: 89%;
}
#section1{
    margin-top: 10%;
    margin-left: 20%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
#h1b{
    margin-top: -4%;
    text-align: center;
    margin-left: 25%;
    color: azure;
    font-size: 40px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#img1{
    margin-top: 40%;
    width: 200px;
}
#divs{
    color: azure;
}
#foto7{
    margin-top: 2%;
    width: 20%;
    margin-left: 64.3%;
}
#p1{
    margin-top: -20%;
    margin-left: 14%;
    color: azure;
    font-size: 150%;
    text-decoration: underline;
}
#enlace{
    margin-top: -30%;
    margin-left: 14%;
    color: rgb(163, 97, 225);
    font-size: 150%;
}
